@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Azure Container Apps - V1 - Demo Application </h1>
        <p>This apppication is build on top microservices architecture</p>
        <div class="align-middle">            
             <img src="~/images/k82.png" class="float-right"/>
        </div>        
    </div>
